.section2{
    background: #181511;
    padding-top: 50px;
    
}
.section2 .row{
    padding-top: 40px;
    background: #181511;
    width: 100%;
}
.section2 h3 {
   color: #FFAE2B;
   text-align: center;
   font-family: 'Old Standard TT';
   letter-spacing: 2px;
   font-size: 60px;

}
.section2 p{
    color: #ACA592;
    font-family: 'Old Standard TT';
    letter-spacing: 2px;
   text-align: center;
   font-size: 16px;
   text-transform: uppercase;


}
.col-md-4  img{
    width: 80%;
    
}
.col-md-4  img:hover {
    transform: scale(1.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.col-md-4 {
    border: 1px solid #4B4136;
   text-align: center;   

}
.col-md-4 p{
    font-family: 'Old Standard TT';
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}